In [1]:
%pwd

'c:\\Dohee\\DataScience'

In [2]:
import os
os.getcwd

In [3]:
import pandas as pd

* 경로 확인 하는 방법 glob 라는 파이썬 함수 사용    
특정 데이터에 어떤 파일이 있는지 확인 할 수 있

In [7]:
from glob import glob

glob("data/*")

['data\\도로교통공단_월별 주야별 교통사고 통계_20231231.csv']

In [8]:
file_name = glob("data/*")[0]
file_name

'data\\도로교통공단_월별 주야별 교통사고 통계_20231231.csv'

In [6]:
pd.read_csv("data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv", encoding="cp949")

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8682    98  2209   9440     759
1     1  야   5798    92  1539   6349     530
2     2  주   8056    95  2149   8710     710
3     2  야   5228    86  1419   5553     500
4     3  주  10393   109  2600  11132     880
5     3  야   5607    78  1449   5930     467
6     4  주  10460    93  2797  11356    1055
7     4  야   5876    89  1609   6181     551
8     5  주  11668   135  3132  12618    1178
9     5  야   5884    68  1576   6233     603
10    6  주  10962   114  2881  11797    1092
11    6  야   5754    88  1601   5893     613
12    7  주  10647   105  2755  11552    1138
13    7  야   5931   100  1554   6165     549
14    8  주  11185   136  2990  12252    1111
15    8  야   6027   110  1632   6287     641
16    9  주  11458   130  3063  12396    1119
17    9  야   6402   109  1777   6559     737
18   10  주  11039   141  3186  11609    1102
19   10  야   6294   124  1814   6383     559
20   11  주  11397   139  3143  12183    1081
21   11  야   6351   118  1706   6565     620
22   12  주  10540   107  2691  11407    1003
23   12  야   6657    87  1717   7019     643

In [11]:
lang = ["python"]
lang.append("java")
print(lang)

['python', 'java']